- model_class = @model
.page-header
  %h1=t '.title', :default => "Documents"
= form_tag get_mail_path_by_url(request.fullpath[1..-1]), method: :get, id: "recipients_search" do
  .form-group
    .row
      .col-lg-5
        = label_tag 'search by recipient name:', nil, {:class => 'control-label'}
        = select_tag :search_user, options_from_collection_for_select(User.options_for_search, "id", "full_name"), class: "form-control"
      .col-lg-7
        = label_tag 'search by recipient department:', nil, {:class => 'control-label'}
        = select_tag :search_department, options_from_collection_for_select(Department.options_for_search, "id", "name"), class: "form-control"
    .row
      .col-lg-12
        = hidden_field_tag :type, request.fullpath[1..-1]
    .row
      .col-lg-12
        %br
        = submit_tag 'Search', :class => 'btn btn-primary'

#records
  =render 'records'

.row
  .col-lg-12
    .digg_pagination
      .page_info
        = page_entries_info @records
      = will_paginate @records, :container => false

.row
  .col-lg-12
    &nbsp;
.row
  .col-lg-12
    = link_to t('.new', :default => t("helpers.links.new")), @new_path, :class => 'btn btn-primary'
