- model_class = @model
.page-header
  %h1=t '.title', :default => "Documents"
= form_tag get_mail_path_by_url(request.fullpath[1..-1]), method: :get, id: "recipients_search" do
  .control-group
    = label_tag 'search by recipient:', nil, {:class => 'control-label'}
    .controls
      = text_field_tag :search
  = hidden_field_tag :type, request.fullpath[1..-1]
  = submit_tag 'Search', :class => 'btn btn-primary'

#records
  =render 'records'

.row
  .span-12
    .digg_pagination
      .page_info
        = page_entries_info @records
      = will_paginate @records, :container => false

.row
  .span-12
    &nbsp;
.row
  .span-12
    = link_to t('.new', :default => t("helpers.links.new")), @new_path, :class => 'btn btn-primary'
