= form_tag sessions_path, :class => "form-signin" do
  %h1.form-signin-heading Log in
  .field
    = label_tag :login
    = text_field_tag :login, params[:login], class: "form-control"
  .field
    = label_tag :password
    = password_field_tag :password, nil, class: "form-control"
  = submit_tag :LogIn, :class => 'btn btn-primary'
